/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable patterns
 * 3.0 - Basic structure
 * 4.0 - body > #header
 * 5.0 - #content
 * 6.0 - body > #footer
 * 7.0 - Media queries
 * 8.0 - Print
 * ----------------------------------------------------------------------------
 */










/*
Pantone Warm Gray 1 C	#d7d2cb
Pantone Warm Gray 2 C	#cbc4bc
Pantone Warm Gray 3 C	#bfb8af
Pantone Warm Gray 4 C	#b6ada5
Pantone Warm Gray 5 C	#aca39a
Pantone Warm Gray 6 C	#a59c94
Pantone Warm Gray 7 C	#968c83
Pantone Warm Gray 8 C	#8c8279
Pantone Warm Gray 9 C	#83786f
Pantone Warm Gray 10 C	#796e65
Pantone Warm Gray 11 C	#6e6259


Pantone Cool Gray 1 C	#d9d9d6
Pantone Cool Gray 2 C	#d0d0ce
Pantone Cool Gray 3 C	#c8c9c7
Pantone Cool Gray 4 C	#bbbcbc
Pantone Cool Gray 5 C	#b1b3b3
Pantone Cool Gray 6 C	#a7a8aa
Pantone Cool Gray 7 C	#97999b
Pantone Cool Gray 8 C	#888b8d
Pantone Cool Gray 9 C	#75787b
Pantone Cool Gray 10 C	#63666a
Pantone Cool Gray 11 C	#53565a
*/










/**
 * 1.0 Reset
 * ----------------------------------------------------------------------------
 */
 * {
	text-shadow: none;
}










/**
 * 2.0 Repeatable patterns
 * ----------------------------------------------------------------------------
 */
.some-pattern {

}










/**
 * 3.0 Basic structure
 * ----------------------------------------------------------------------------
 */
html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}










/**
 * 4.0 body > #header
 * ----------------------------------------------------------------------------
 */
body > #header {
	top: 0;
	color: #fff;
	margin: 0px;
	padding: 2em 0em;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 99;
}
h1 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 2.4em;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0em 0em 0.3em 0em;
	text-shadow: 0px 1px 4px #53565a;
	text-transform: uppercase;
}
h1 > #plus {
	color: #df1995;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
}
#getting-hitched,
#bk-date {
	font-family: 'Cedarville Cursive', cursive;
	font-size: 1.9em;
	font-weight: 400;
	letter-spacing: 0em;
	margin: 0px;
	text-shadow: 0px 1px 4px #53565a;
	text-transform: none;
}
#bk-date {
	font-size: 1.3em;
}
#bk-date #date {
	font-size: 1.3em;
	letter-spacing: 0.1em;
	margin: 0px;
	text-shadow: 0px 1px 4px #53565a;
}










/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */
 #content {

 }
.carousel {
	height: 100% !important;
}
.carousel .slides .slide {
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
.flex-control-nav {
	display: none;
}
#welcome {
	background: #d7d2cb;
}
#about {
	background: #cbc4bc;
}
#proposal {
	background: #bfb8af;
}
#ceremony {
	background: #b6ada5;
}
#reception {
	background: #aca39a;
}
#honeymoon {
	background: #a59c94;
}
#registries {
	background: #968c83;
}
#rsvp {
	background: #8c8279;
}










/**
 * 6.0 body > #footer
 * ----------------------------------------------------------------------------
 */
body > #footer {
	bottom: 0;
	color: #fff;
	display: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	z-index: 99;
}
#countdown {
	background: url('/img/000000-75.png');
	font-family: 'Averia Serif Libre', serif;
	font-size: 1.2em;
	font-weight: 300;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-transform: lowercase;
	width: 100%;
}










/**
 * 7.1 Styles for iPhone landscape and up
 * ----------------------------------------------------------------------------
 */
@media (min-width: 480px) {

}










/**
 * 7.2 Styles for extra small devices only
 * ----------------------------------------------------------------------------
 */
@media (max-width: 767px) {

}










/**
 * 7.3 Styles for small, medium, and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) {

}










/**
 * 7.4 Styles for small devices only
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) and (max-width: 991px) {

}










/**
 * 7.5 Styles for extra small and small devices
 * ----------------------------------------------------------------------------
 */
@media (max-width: 991px) {

}










/**
 * 7.6 Styles for medium and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 992px) {

}










/**
 * 7.7 Styles for large devices only
 * ----------------------------------------------------------------------------
 */
@media (min-width: 1200px) {

}
