/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable patterns
 * 3.0 - Basic structure
 * 4.0 - Header
 *   4.1 - Site Header
 *   4.2 - Navigation
 * 5.0 - Content
 * 6.0 - Footer
 * 7.0 - Media queries
 * 8.0 - Print
 * ----------------------------------------------------------------------------
 */





/*
Primary:
Pantone 
*/








/**
 * 1.0 Reset
 * ----------------------------------------------------------------------------
 */















/**
 * 2.0 Repeatable patterns
 * ----------------------------------------------------------------------------
 */















/**
 * 3.0 Basic structure
 * ----------------------------------------------------------------------------
 */
* {
	text-shadow: none;
}
html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#header {
	border-top: solid 10px #f90;

}
#nav {
	display: none;
}
.carousel {
	display: none;
	height: 100% !important;
}
.carousel .slides .slide {
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
.flex-control-nav {
	display: none;
}


#footer {
	bottom: 0;
	color: #fff;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	z-index: 99;
}
#countdown {
	background: url('/img/000000-75.png');
	font-family: 'Averia Serif Libre', serif;
	font-size: 1.2em;
	font-weight: 300;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-transform: lowercase;
	width: 100%;
}







/**
 * 7.1 Styles for iPhone landscape and up
 * ----------------------------------------------------------------------------
 */
@media (min-width: 480px) {

}











/**
 * 7.2 Styles for extra small devices only
 * ----------------------------------------------------------------------------
 */
@media (max-width: 767px) {

}










/**
 * 7.3 Styles for small, medium, and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) {

}











/**
 * 7.4 Styles for small devices only
 * ----------------------------------------------------------------------------
 */
@media (min-width: 768px) and (max-width: 991px) {

}










/**
 * 7.5 Styles for extra small and small devices
 * ----------------------------------------------------------------------------
 */
@media (max-width: 991px) {

}










/**
 * 7.6 Styles for medium and large devices
 * ----------------------------------------------------------------------------
 */
@media (min-width: 992px) {
	.carousel .slides li {

	}
}










/**
 * 7.6 Styles for large devices only
 * ----------------------------------------------------------------------------
 */
@media (min-width: 1200px) {

}
