<!DOCTYPE html>
<!--[if lt IE 8 ]> <html class="ie ie6 ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]> <html class="ie" lang="en"> <![endif]-->
<!--[if !(IE)]><!--> <html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title><%= title %></title>
		<meta name"google-site-verification" content="M7kbRGex1Uy_OYR3IKYzu0aMuP_UzSvR7J-YZgH6WSw">
		<meta name"robots" content="noindex, nofollow">
		<link rel="apple-touch-icon" href="/img/icon.png">
		<link rel="shortcut icon" href="/img/icon.png">
		<meta name="description" content="Pamela + Michael are getting hitched... Brooklyn style on 09.15.14">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,300,400,700,900|Cedarville+Cursive">
		<link rel="stylesheet" href="/css/bootstrap-3.1.1.min.css">
		<link rel="stylesheet" href="/css/flexslider-2.2.0.css">
		<link rel="stylesheet" href="/css/style.css">
<!--[if lte IE 9]>
		<script src="/js/html5shiv-3.7.0.js"></script>
		<script src="/js/respond-1.4.2.min.js"></script>
<![endif]-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');


			ga('create', 'UA-49278838-1', 'pamelaandmichael.com');
			ga('send', 'pageview');
		</script>
	</head>





	<body>
		<header id="header">
			<p id="getting-hitched">Getting Hitched</p>
			<h1>Pamela <span id="plus">+</span> Michael</h1>
			<p id="bk-date">Brooklyn style on <span id="date">09.15.14</span></p>
		</header>
<!--/#header -->










		<div id="content" class="carousel">
			<ul class="slides">
				<li id="welcome" class="slide">
					&nbsp;
				</li>


				<li id="about" class="slide">
					
				</li>


				<li id="proposal" class="slide">

				</li>


				<li id="ceremony" class="slide">

				</li>


				<li id="reception" class="slide">

				</li>


				<li id="honeymoon" class="slide">

				</li>


				<li id="registries" class="slide">

				</li>


				<li id="rsvp" class="slide">

				</li>
			</ul><!--/.slides -->
		</div>
<!--/#content -->










		<footer id="footer">
			<div id="countdown" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<p>We're getting married</p>
			</div>


			<div id="rsvp" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">RSVP</button>
			</div>
		</footer>
<!--/#footer -->










		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">RSVP</h4>
					</header>


					<section class="modal-body">

					</section>


					<footer class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Send RSVP</button>
					</footer>
				</div><!--/.modal-content -->
			</div><!--/.modal-dialog -->
		</div>
<!--/#myModal -->










		<script src="/js/angular-1.2.17.min.js"></script>
		<script src="/js/angular-route-1.2.17.min.js"></script>
		<script src="/js/angular-animate-1.2.17.min.js"></script>
		<script src="/js/jquery-1.11.0.min.js"></script>
		<script src="/js/bootstrap-3.1.1.min.js"></script>
		<script src="/js/jquery.flexslider-2.2.0.min.js"></script>
		<script>
			function ResizeHeight() {
				var screenHeight = $('.carousel').height();


				$('.slide').css({
					'height' : screenHeight + 'px'
				});

				$('.cell').css({
					'height' : (screenHeight / 2) + 'px'
				});
			}





			$(document).ready(function() {
				ResizeHeight();


				$('.carousel').flexslider({
					animation: "slide",
					animationLoop: true,
					directionNav: true,
					itemMargin: 0,
					nextText: "Next",
					prevText: "Previous",
					slideshowSpeed: 15000,
					touch: true
				});
			});





			$(window).resize(function() {
				ResizeHeight();
			});
		</script>
	</body>
</html>
